<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm" (submit)="save()">
          <input type="hidden" formControlName="id">
          <label>Name:</label>
          <input type='text' formControlName="name" class="form-control" placeholder="Name">
          <label>Description:</label>
          <input type='text' formControlName="description" class="form-control" placeholder="Description">
          <label>Action:</label>
          <input type='text' formControlName="action" class="form-control" placeholder="GDP">
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
