<app-list-student></app-list-student>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo Mới</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="studentForm" (submit)="add()">
          <label>Tên</label>
        <input type="text" formControlName="name" class="form-control" placeholder="nhập tên">
          <label>Mô Tả</label>
          <input type="text" formControlName="description" class="form-control" placeholder="mô tả">
          <label>Hoạt Động</label>
          <input type="text" formControlName="action" class="form-control">

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
